@charset "UTF-8";
/* CSS Document */

* {
  box-sizing: border-box;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1280px;
    }
}

.container-fluid {
	padding:0;
}

body {
	overflow-x: hidden;
}

h2 {
	font-size: 1.6em;
	color:white;
}

h3 {
	font-size: 1.3em;
	color:#34394a;
}

h4 {
	font-size: 1.2em;
	color:#34394a;
}

.btn {
	width:100%;
}

.goal-head {
	background-color: #2f7aab;
	padding:5px;
}

.goal-head:hover {
	background-color: #3882b2;
}

.progress {
	margin-top:1em;
}

.card1 {
	background-color:#f2f3f3;
	border:none;
}

.card2 {
	background-color:white;
	border:none;
	border-radius:none;
}

.subgoal-head:hover {
	background-color: #f9f9f9;
}

/*Progress state colors*/

.finished {
	color:#256b1a;
}
.almost-finished {
	color: #93af48;
}
.in-progress {
	color:#caa926;
}
.awaiting-start {
	color:#6a6a6a;
}
